<div class="container">
  <h2>You are editing ✍️ details for {{ cityToEdit.name }}</h2>
  <form (ngSubmit)="save()">
    <div class="mb-3">
      <label for="cityName" class="form-label">City Name</label>
      <input
        type="text"
        class="form-control"
        id="cityName"
        aria-describedby="cityName"
        name="cityName"
        [(ngModel)]="cityToEdit.name"
      />
    </div>
    <div class="mb-3">
      <label for="cityPhoto" class="form-label">Photo</label>
      <textarea
        class="form-control"
        id="cityPhoto"
        rows="3"
        name="cityPhoto"
        [(ngModel)]="cityToEdit.photo"
      ></textarea>
    </div>
    <button type="button" class="btn btn-secondary" (click)="goBack()">
      Go Back
    </button>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
